
<!DOCTYPE html>
<html>
  <head>

<meta name="theme-color" content="#EB3349">
<meta name="apple-mobile-web-app-status-bar-style" content="#EB3349">


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          <title>LazyMonkey | QR Code Scanner - Scan your QR Codes</title>
    <script>
      var dataLayer = dataLayer || [];
      dataLayer.push({ 'existingClient': false });</script>
    

    
        <link rel="stylesheet" type="text/css" href="scanner.css" />

    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" /><![endif]-->
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/ie6d.css" /><![endif]-->
    <!--[if IE 5]><link rel="stylesheet" type="text/css" href="css/ie5.css" /><![endif]-->
    <link rel="shortcut icon" href="favicon.ico" />
    
    
      
    <script>qrstuffAppData=null;</script>
    <script>document.docReady=function(f) { if(document.readyState === 'complete') f(); else document.addEventListener('DOMContentLoaded', f); }</script>
    <!--[if lt IE 9]>
      <script src="https://cdn.qrstuff.com/build/scripts_ie8/all-d9ae9a5125.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <script src="all-59b65c8594.min.js" defer></script>
    <!--<![endif]-->


  <meta name="viewport" content="width=700" id="meta-viewport">

<style>.site-header, .constrain, .content-width { min-width: 700px; max-width: 950px; }</style>

  
  <script type="text/javascript" src="instascan.min.js"></script>
  
  <script src="scan-d83e092ab6.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  


<style>
  
  body
  {
    background-color: #fff;

  }

  .site-header
  {
    min-height: 350px;
    background-color: #EB3349;
    text-align: center;
  }

  .logo
  {
    padding: 50px;
  }


/* Style the counter cards */
.card 

{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  margin: 50px;
  margin-top: -150px;
  min-height: 400px;
}

.qrcodescan h1
{

  padding: 65px 15px 30px 15px;

}

.result
{
  padding-bottom: 30px;
}

.logo img
{
   height: 120px;
}



  video
  {
max-height: 700px;
  }


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 380px) {
  
  video
  {
max-height: 300px;
  }


.logo img
{
   height: 80px;
}
/* Style the counter cards */
.card 

{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  margin: 50px;
  margin-top: -180px;

}


}



.result-content
{
  background-color: #EB3349;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}


.result-content:hover
{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.go-to-docket a
{

  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.remove-blue-highlight
{
  -webkit-tap-highlight-color: transparent;
}

</style>



</head>
<body class="remove-blue-highlight " >

  <header class="site-header">

    <div>

      <a href="https://www.lazymonkey.co/" target="_blank" class="logo"><img src="lazy-logo.png"/></a>
    
    </div>
   
  </header>






  <div class="constrain constrain-scan top">

    <div class="card">
    <div class="qrcodescan">
      <h1>Please Scan QR Code on your Docket</h1>
      <div class="preview-wrap loading">
        <video playsinline></video>
      </div>
      <div class="result">
      </div>



      
      <script class="result-template" type="x-tmpl-mustache">



          <div class="go-to-docket"><br><br><br><br><br><br><br>
            <a href="{{scan.link}}" target="_blank">
              <div class="result-content{{#scan.displayMultiline}} multiline{{/scan.displayMultiline}}">
              {{#scan.isLink}}{{scan.linkIntro}} 


              Click here  to open your Docket

              {{/scan.isLink}}
              {{^scan.isLink}}{{&scan.html}}{{/scan.isLink}}
            </div>
            </a>
          </div>
        
      </script>
      

    </div>



  </div>


</div>
  </body>
</html>      
